<a href="https://colab.research.google.com/github/bhuvan0808/Machine_learning/blob/main/Skewness_and_Kurtosis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Skewness and Kurtosis

This notebook is a foolow along for [this blog](https://www.freecodecamp.org/news/skewness-and-kurtosis-in-statistics-explained/) by me on FreeCodeCamp. We will start off by importing the [Boston Housing Datatset](https://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html) and measure skewness and kurtosis for a column in this dataset.

In [ ]:
import pandas as pd
from scipy.stats import skew
from scipy.stats import kurtosis

In [ ]:
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
data = pd.read_csv('https://gist.githubusercontent.com/Rishit-dagli/61922d4f6ef284877b6600163cabc681/raw/eeb1b4191b998cdd63a39f82f8031913b7590ff1/housing.csv',
                   header=None,
                   delimiter=r"\s+",
                   names=column_names)
data.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31     0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

Let calculate skewness and kurtosis for one column in this dataset

In [ ]:
skew(data["MEDV"].dropna())

1.104810822864635

In [ ]:
kurtosis(data["MEDV"].dropna())

1.4686287722747462